{"lab" :nominal, "total_trial_time" :numerical, "method" :nominal, "trial_type" :nominal, "lang1" :nominal, "session_error" :nominal, "looking_time" :numerical, "trial_num" :numerical, "subid_unique" :ignore, "trial_error" :nominal, "age_days" :numerical}
