{"ycaC" :numerical, "lhgO" :numerical, "yibQ" :numerical, "IPTG" :nominal, "Phase" :nominal, "tyrR" :numerical, "ligB" :numerical, "eno" :numerical, "Arabinose" :nominal, "glnL" :numerical, "dksA" :numerical}
